Resources:
  StartupSignupsTable:
    Type: AWS::DynamoDB::Table
    Properties:
      KeySchema: 
        HashKeyElement:
          AttributeName: "email"
          AttributeType: "S"
      ProvisionedThroughput:
        ReadCapacityUnits: 1
        WriteCapacityUnits: 1
  NewSignupQueue: 
    Type: "AWS::SQS::Queue"
  NewSignupTopic:
    Type: AWS::SNS::Topic
    Properties: 
      Subscription:
        - Endpoint:
            Fn::GetOptionSetting:
              OptionName: NewSignupEmail
              DefaultValue: "khansarfarazali0@gmail.com"
          Protocol: email
        - Endpoint:
            Fn::GetAtt:  ["NewSignupQueue", "Arn"]
          Protocol: "sqs"
  AllowSNS2SQSPolicy:
    Type: "AWS::SQS::QueuePolicy"
    Properties: 
      Queues: 
        - 
          Ref: "NewSignupQueue"
      PolicyDocument: 
        Version: "2008-10-17"
        Id: "PublicationPolicy"
        Statement: 
          - 
            Sid: "Allow-SNS-SendMessage"
            Effect: "Allow"
            Principal: 
              AWS: "*"
            Action: 
              - "sqs:SendMessage"
            Resource: 
              Fn::GetAtt: 
                - "NewSignupQueue"
                - "Arn"
            Condition: 
              ArnEquals: 
                aws:SourceArn: 
                  Ref: "NewSignupTopic"
files:
  "/var/app/app.config":
    mode: "000444"
    owner: "apache"
    group: "apache"
    content: |
      AWS_REGION = '`{ "Ref" : "AWS::Region"}`'
      STARTUP_SIGNUP_TABLE = '`{ "Ref" : "StartupSignupsTable"}`'
      NEW_SIGNUP_TOPIC = '`{ "Ref" : "NewSignupTopic"}`'
option_settings:
  "aws:elasticbeanstalk:customoption":
     "AlarmEmail" : "khansarfarazali0@gmail.com"
  "aws:elasticbeanstalk:application:environment":
    "APP_CONFIG": "/var/app/app.config"
    "FLASK_DEBUG": "false"
    "THEME": "flatly"
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static/
commands:
  create_post_dir:
    command: "mkdir -p /opt/elasticbeanstalk/hooks/appdeploy/post & mkdir -p /var/app/current/.platform/hooks/postdeploy"
    ignoreErrors: true
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/script.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      cd /var/app/current/signup-webserver
      ln -s /var/app/app.config /var/app/current/signup-webserver/app.config
      export FLASK_APP=application.py
      export APP_CONFIG=app.config
      export FLASK_RUN_PORT=8000
      export FLASK_RUN_HOST=0.0.0.0
      sed -i  's/var\/app\/current\/static/var\/app\/current\/signup-webserver\/static/g' /etc/nginx/conf.d/elasticbeanstalk/01_static.conf
      sudo systemctl restart nginx
      flask run &
